/* Global */
:root {
  /* Color -- 차후 변경*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #2e2e2e;
  --color-grey: #424242;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-blue: #2d3f79;
  --color-light-blue: #9fb2ce;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 2px;

  /* Animation Duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html{
  height : 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: defualt; /*커서 올라갔을 때*/
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

#header{
  display:flex;
  height: 56px;
  background-color:  var(--color-dark-grey);
  justify-content: space-between;
}

#header i{
  color : white;
}

.header__center,
.header__left,
.header__right{
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.header__left__logo a{
  color: white;
  font-weight: var(--weight-semi-bold);
}

.header__left__logo img{
  position: relative;
  width: 30px;
  height: 20px;
}

.header__left__navbarbtn{
  margin-right: 20px;
}

.header__center{
  justify-content: center;
}

.Search{
  height : 32px;
  position: relative;
}

.header__center .textinput{
  width: 300px;
  /*width:600px*/
  height: 100%;
  background-color: var(--color-black);
  color : var(--color-dark-white);
  border: 1px solid var(--color-grey); 
  padding-left: 10px;
  font-size: var(--font-small);
}


.header__center .Search__btn{
  position: absolute;
  top: 0;
  right: 0;
  height : 100%;
  width : 70px;
  background-color: var(--color-grey);
  color : var(--color-dark-white);
}


.header__right{
  flex-direction: row-reverse;
}

.header__right i{
  margin: 0 10px; 
}

#body{
  display:flex;
  height: 100%;
}

.aside{
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: var(--color-dark-grey);
  color : var(--color-dark-white);
  font-weight: var(--weight-semi-bold);
}

.main__tab,
.sub__tab{
  margin: 12px 0;
}

.item{
  display: flex;
  padding: 10px 30px ;
}

.item.active,
.item:hover{
  background-color: var(--color-grey);
  color : var(--color-white);
}

.item i{
  width: 14px;
  height: 22px;
  margin-right: 20px;
}

.item.hidden{
  display:none;
}

.container{
  background-color: var(--color-black);
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.play{
  margin: 0 15px;
  height: 330px;
  position: relative;
}

.play__description{
  display: flex;
}

.left{
  margin-right: 10px;
}

.owner__logo{
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.right{
  flex-grow: 1;
  color: var(--color-dark-white);
}

.title{
  font-size: var(--font-small);
}

.owner{
  font-size: var(--font-micro);
}

.play__icons{
  display:flex;
  flex-direction: column;
  top: 36px;
  right: 5px;
  position: absolute;
  display: none;
}

.play__icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px 0;
}

.play__icon .text,
.play__icon .icon{
  height: 30px;
  line-height: 30px;
  color: var(--color-dark-white);
  background-color: rgba( 0, 0, 0, 0.9 );
  text-align: center;
  line-height: 30px;
  border-radius: var(--size-border-radius);
}

.play__icon .text{
  padding: 0 10px;
  display: none;
}

.play__icons .icon{
  width: 30px;
}

.play:hover .play__icons{
  display: block;
}